In [1]:
# user input
name= input('What is your name? ')
age=input('What is your age? ')
print('Hello '+ name + '! You are '+ age + ' years old.')

Hello Teja! You are 21 years old.

In [6]:
# input takes string by default
# typecasting to required datatype is better approach
print(type(name))
print(type(age))

<class 'str'>
<class 'str'>

In [5]:
num1=input('Enter a digit: ')
num2=input('Enter a second number:')
answer=float(num1)+float(num2)
# answer = float(num1+num2)  # if 5 and 9 are added, string first concatenates them to 59
print(answer)

14.0

In [7]:
num1=int(input('Enter a digit: '))
num2=int(input('Enter a second number:'))
answer=num1+num2
print(answer)

14

In [8]:
# - Create a distance converter converting Km to miles
# - Take two inputs from user: Their first name and the distance in km
# - Print: Greet user by name and show km, and mile values
# - 1 mile is 1.609 kilometers
# - hint: use correct types for calculating and print
# - Did you capitalize the name
name = input('Enter your name: ')
distance_km = input('Enter distance in km: ')
distance_mi = float(distance_km)/1.609
print(f'Hi {name.title()}! {distance_km}km is equivalent to {round(distance_mi,1)} miles.')

Hi Teja! 78km is equivalent to 48.5 miles.

In [ ]:
a=7
b=2
print('Addition : ', a + b)
print('Subtraction : ', a - b)
print('Multiplication : ', a * b)
print('Division (float) : ', a / b)
print('Division (floor) : ', a // b)
print('Modulus (reminder of a//b) : ', a % b)
print('Exponent : ', a ** b)

Addition :  9
Subtraction :  5
Multiplication :  14
Division (float) :  3.5
Division (floor) :  3
Modulus :  1
Exponent :  49

In [9]:
msg='welcome to Python: Strings.... '
print(msg+msg)

welcome to Python: Strings.... welcome to Python: Strings....

In [11]:
msg='welcome to Python: Strings.... '
print(msg*3)

welcome to Python: Strings.... welcome to Python: Strings.... welcome to Python: Strings....

In [12]:
msg='welcome to Python: Strings'
print(msg,msg) # we can see a space has been inserted

welcome to Python: Strings welcome to Python: Strings

In [13]:
msg="hello i'm Teja."
print(msg)
print(msg.upper())
print(msg.lower())
print(msg.capitalize())
print(msg.title())

hello i'm Teja.
HELLO I'M TEJA.
hello i'm teja.
Hello i'm teja.
Hello I'M Teja.

In [16]:
msg="hello i'm John."
print(msg)
print(len(msg))
print(msg.count('o'))

hello i'm John.
15
2

In [ ]:
# slicing
s = "Python"
# Positive indexing
# P  y  t  h  o  n
# 0  1  2  3  4  5

# Negative indexing
# P   y   t   h   o   n
#-6  -5  -4  -3  -2  -1

# python strings, lists are zero indexed
msg="hello i'm John."
print(msg[0])
print(msg[1])
print(msg[2])
print(msg[13])
print(msg[-0]) # same as msg[0]
print(msg[-1])
print(msg[-2])
print(msg[-3])
print(msg[-4])

h
e
l
n
h
.
n
h
o

In [ ]:
print(msg[2:]) # from 2nd index(inclusive) to every thing - zero index based
print(msg[2::])
print(msg[2:4]) # from 2nd index to 4th index (exclusive)

llo i'm John.
llo i'm John.
ll

In [10]:
msg = 'hello'
print(msg[:4])
print(msg[:-1])
print(msg[::-1])

hell
hell
olleh

In [11]:
s = "Python"
print(s[::2])   # Pto  (every 2nd char)
print(s[1::2])  # yhn
print(s[::-1])  # nohtyP (reverse string)

Pto
yhn
nohtyP

In [12]:
msg='welcome to Python 101: Strings'
msg1=msg[18]+' '+msg[:8]+msg[25:29]+msg[7:11]+msg[13]+msg[12]+msg[2]+msg[1]+msg[-5]  
print(msg1.title())
print(msg1[::-1].title())

1 Welcome Ring To Tyler
Relyt Ot Gnir Emoclew 1

In [ ]:
# multi-line string
msg="""Dear Terry,,
You must cut down the mightiest 
tree in the forest with…
a herring! <3"""
print(msg)

Dear Terry,,
You must cut down the mightiest
tree in the forest with…
a herring! <3

In [1]:
a = "this is a message"
print(a.find('i')) # we found the first position of 'i' in the 2nd index

2