In [1]:
# to print something
print("hello world!")
print("hello world a second time")

hello world!
hello world a second time

In [2]:
# variables
name = 'Teja'
age = '21' # doesn't matter if we use double or single quotes
print("My name is "+name+ ". I am "+age+" years old.") # '+' is used for string concatenation

My name is Teja. I am 21 years old.

In [3]:
# integer = 21
# string = 'teja'
# float = 21.55
# boolean = True
# boolean = False
# to name variables use small letters with underscores, follow the snake notation
# am_i_going_to_the_movies = True


# to include quotes in the string
# greeting = "hello my name is "Teja"!" we get syntax error for this, if we are using double quotes outside then inside we should use single quotes or vice versa
print("hello my name is 'Teja'!")
print('hello my name is "Teja"!')
# another way to do this is by using escaping, by using a escape character - backslash \
print("hello my name is \"Teja\"!") # so after the \ the character is considered 
# \ tells python that the character after this backslash must be the literal character

hello my name is 'Teja'!
hello my name is "Teja"!
hello my name is "Teja"!

In [4]:
# datatypes
print(type('hello'))
print(type(1))
print(type(1.64))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [5]:
# typecasting

# name='Teja'
# age=21
# print("My name is "+name+ ". I am "+age+" years old.")  # we get type error, we cannot concatenate string and integer
name='Teja'
age=21
print("My name is "+name+ ". I am "+str(age)+" years old.") # converted age(int) to string

My name is Teja. I am 21 years old.

In [14]:
a = int(1)        # a will be 1     # int -> int
b = int(2.5)      # b will be 2     # float -> int
c = int("37")     # c will be 37    # int string -> int
# d = int("3.67")                   # cannot convert float string -> int
# first convert the float string to float and then to int
d = int(float("4.23") )     # d1 will be 4.23 and then 4
# string -> int 
# e = int("Aa")   # not possible to convert string to int
# e = int('a')
# bool to int
e = int(True)   # e will be 1
e2 = int(False) # e will be 0
# bool string to int
# f = int('True') # not possible

print([a,b,c,d,e,e2])

[1, 2, 37, 4, 1, 0]

In [24]:
# int to float
a = float(18)       # a = 18.0
# float to float 
b = float(18.18)    # will be same
# int string to float
c = float("3")      # c = 3.0
# float sting to float
d = float("3.78")   # d = 3.78
# bool to float
e = float(True)     # 1.0
f = float(False)     # 0.0
# string to float possible

print([a,b,c,d,e,f])

[18.0, 18.18, 3.0, 3.78, 1.0, 0.0]

In [31]:
# int to string
a = str(20)
a1 = str(0)
# float to string
b = str(20.98798)
# string to string
c = str("hello")
# bool to string
d = str(True)
e = str(False)

print([a,a1,b,c,d,e])

['20', '0', '20.98798', 'hello', 'True', 'False']

In [32]:
print('Variables & Datatypes - Exercise')
#Create appropriate Variables for Item name, the price 
# and how many you have in stock and is in inventory

item_name = 'widget'
price = 23.5
inventory = 100
is_in_inventory = True
print(item_name, price, inventory)

Variables & Datatypes - Exercise
widget 23.5 100

In [4]:
# üïπÔ∏è Arcade Day Pass Tracker ‚Äî Challenge Steps
#
# 1) Create variables to store:
#    - customer name
#    - number of passes
#    - tokens per pass
#    - price per pass
#    - tokens required per game
#
# 2) Calculate:
#    - total tokens
#    - total cost
#    - games available  (use 'floor division' to get a whole number)
#
# 3) Print a summary with:
#    - customer name
#    - passes bought
#    - total tokens
#    - total cost
#    - games available

# Variables
customer_name = "Teja"
passes_bought = 5
tokens_per_pass = 30
pass_price = 12.50
tokens_per_game = 4

# Calculations
total_tokens = passes_bought * tokens_per_pass
total_cost = passes_bought * pass_price
games_available = total_tokens // tokens_per_game

print("===== ARCADE DAY PASS =====")
print("Customer:", customer_name)
print("Passes:", passes_bought)
print("Tokens:", total_tokens)
print(f"Total Cost: Rs.{total_cost:.4f}")
print("Games Available: " + str(games_available))

===== ARCADE DAY PASS =====
Customer: Teja
Passes: 5
Tokens: 150
Total Cost: Rs.62.5000
Games Available: 37