In [64]:
# lists
friends = ['Roger','White-Beard','Rocks','Dragon','Robin', 'Monkey', 'Robin']
print(friends)
print(friends[0], friends[1], "are best buddies.")
print(friends[-1], friends[-2], "are okay buddies.")
print(friends[1:4]) # 4 excluding
print(friends[:4])
print(friends[:])
print(len(friends))
print(friends.index('Robin')) # first occurrence
print(friends.count('Robin'))

['Roger', 'White-Beard', 'Rocks', 'Dragon', 'Robin', 'Monkey', 'Robin']
Roger White-Beard are best buddies.
Robin Monkey are okay buddies.
['White-Beard', 'Rocks', 'Dragon']
['Roger', 'White-Beard', 'Rocks', 'Dragon']
['Roger', 'White-Beard', 'Rocks', 'Dragon', 'Robin', 'Monkey', 'Robin']
7
4
2

In [65]:
friends = ['Roger','White-Beard','Rocks','Dragon','Robin', 'Monkey', 'Robin']
cars = [911,130,328,535,740,308]
print(friends)
friends.sort()
print(friends)
friends.sort(reverse=True)
print(friends)
friends.reverse()
print(friends)
print(cars)
cars.sort()
print(cars)

['Roger', 'White-Beard', 'Rocks', 'Dragon', 'Robin', 'Monkey', 'Robin']
['Dragon', 'Monkey', 'Robin', 'Robin', 'Rocks', 'Roger', 'White-Beard']
['White-Beard', 'Roger', 'Rocks', 'Robin', 'Robin', 'Monkey', 'Dragon']
['Dragon', 'Monkey', 'Robin', 'Robin', 'Rocks', 'Roger', 'White-Beard']
[911, 130, 328, 535, 740, 308]
[130, 308, 328, 535, 740, 911]

In [66]:
print(min(cars))
print(max(cars))
print(sum(cars))

print(min(friends))
print(max(friends))
# print(sum(friends)) # error

130
911
2952
Dragon
White-Beard

In [67]:
friends.append('Teja')
print(friends)
friends.insert(1, 'Jesus')
print(friends)

['Dragon', 'Monkey', 'Robin', 'Robin', 'Rocks', 'Roger', 'White-Beard', 'Teja']
['Dragon', 'Jesus', 'Monkey', 'Robin', 'Robin', 'Rocks', 'Roger', 'White-Beard', 'Teja']

In [68]:
friends[2] = 'New Graham'
print(friends)

['Dragon', 'Jesus', 'New Graham', 'Robin', 'Robin', 'Rocks', 'Roger', 'White-Beard', 'Teja']

In [69]:
# friends.extend(cars)
# print(friends)

In [70]:
cars.extend(friends)
print(cars)

[130, 308, 328, 535, 740, 911, 'Dragon', 'Jesus', 'New Graham', 'Robin', 'Robin', 'Rocks', 'Roger', 'White-Beard', 'Teja']

In [71]:
print(friends)
friends.remove('Robin')
print(friends)

['Dragon', 'Jesus', 'New Graham', 'Robin', 'Robin', 'Rocks', 'Roger', 'White-Beard', 'Teja']
['Dragon', 'Jesus', 'New Graham', 'Robin', 'Rocks', 'Roger', 'White-Beard', 'Teja']

In [ ]:
print(friends)
friends.pop(-1)
print(friends)

['Dragon', 'Jesus', 'New Graham', 'Robin', 'Rocks', 'Roger', 'White-Beard', 'Teja']
['Dragon', 'Jesus', 'New Graham', 'Robin', 'Rocks', 'Roger', 'White-Beard']

In [73]:
popped = friends.pop(-1)
print(popped)

White-Beard

In [74]:
friends

['Dragon', 'Jesus', 'New Graham', 'Robin', 'Rocks', 'Roger']

In [75]:
friends.clear()
friends

[]

In [77]:
del friends
friends

NameError: name 'friends' is not defined

In [78]:
friends = ['John','Michael','Terry','Eric','Graham']
cars = [911,130,328,535,740,308]
del friends[2]
print(friends)

['John', 'Michael', 'Eric', 'Graham']

In [83]:
friends = ['John','Michael','Terry','Eric','Graham']
print(friends)
# copy way 1
new_friends = friends
print(new_friends)
new_friends2 = new_friends[:]
print(new_friends2)

['John', 'Michael', 'Terry', 'Eric', 'Graham']
['John', 'Michael', 'Terry', 'Eric', 'Graham']
['John', 'Michael', 'Terry', 'Eric', 'Graham']

In [85]:
# copy way 2
friends3 = friends.copy()
print(friends3)
# copy way 3
friends3 = list(friends)
print(friends3)

['John', 'Michael', 'Terry', 'Eric', 'Graham']
['John', 'Michael', 'Terry', 'Eric', 'Graham']

In [88]:
sales_w1 = [7,3,42,19,15,35,9]
sales_w2 = [12,4,26,10,7,28]
sales = []
new_day = input('Enter #of lemonades for new day: ')
sales_w2.append(int(new_day))
#sales.extend(sales_w1)
#sales.extend(sales_w2)
sales = sales_w1 + sales_w2
# sales.sort()
# worst_day_prof = sales[0] * 1.5
# best_day_prof = sales[-1] * 1.5
worst_day_prof = min(sales) * 1.5
best_day_prof = max(sales) * 1.5
print(f'Worst day profit:Rs {worst_day_prof}')
print(f'Best day profit:Rs {best_day_prof}')
print(f'Combined profit:Rs {worst_day_prof + best_day_prof}')

Worst day profit:Rs 4.5
Best day profit:Rs 63.0
Combined profit:Rs 67.5

In [1]:
msg ='Welcome to Python 101: Split and Join'
csv = 'Eric,John,Michael,Terry,Graham'
friends_list = ['Eric','John','Michael','Terry','Graham']
print(list(msg))

['W', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', '1', '0', '1', ':', ' ', 'S', 'p', 'l', 'i', 't', ' ', 'a', 'n', 'd', ' ', 'J', 'o', 'i', 'n']

In [2]:
msg ='Welcome  to  Python  101: Split  and Join'
csv = 'Eric,John,Michael,Terry,Graham'
friends_list = ['Eric','John','Michael','Terry','Graham']
print(msg.split())
print(msg.split(' '))

['Welcome', 'to', 'Python', '101:', 'Split', 'and', 'Join']
['Welcome', '', 'to', '', 'Python', '', '101:', 'Split', '', 'and', 'Join']

In [3]:
print(type(msg.split(' ')))

<class 'list'>

In [6]:
csv = 'Eric,John,Michael,Terry,Graham'
print(csv.split(','))

['Eric', 'John', 'Michael', 'Terry', 'Graham']

In [7]:
print(str(friends_list))

['Eric', 'John', 'Michael', 'Terry', 'Graham']

In [8]:
type(friends_list)

list

In [11]:
print(''.join(friends_list))
print(' '.join(friends_list))
print(' - '.join(friends_list))

EricJohnMichaelTerryGraham
Eric John Michael Terry Graham
Eric - John - Michael - Terry - Graham

In [12]:
# when we split we turn something into a list and when we join we turn it into string

print(''.join(msg.split()))

WelcometoPython101:SplitandJoin

In [13]:
print(msg.replace(' ', ''))

WelcometoPython101:SplitandJoin

In [14]:
csv = 'Eric,John,Michael,Terry,Graham:TerryG;Brian'
friends_list = ['Exercise: fill me with names']
print(friends_list)
# From the list above fill a list(friends_list) properly
# with the names of all the friends. One per "slot"
# you may need to run same command several times
# use print() statements to work your way through the exercise

['Exercise: fill me with names']

In [15]:
csv = 'Eric,John,Michael,Terry,Graham:TerryG;Brian'
print(','.join(csv.split(';')))
print(','.join(csv.split(';')).split(':'))
print(','.join(','.join(csv.split(';')).split(':')))
print((','.join(','.join(csv.split(';')).split(':'))).split(','))

Eric,John,Michael,Terry,Graham:TerryG,Brian
['Eric,John,Michael,Terry,Graham', 'TerryG,Brian']
Eric,John,Michael,Terry,Graham,TerryG,Brian
['Eric', 'John', 'Michael', 'Terry', 'Graham', 'TerryG', 'Brian']

In [16]:
friends_list = (','.join(','.join(csv.split(';')).split(':'))).split(',')
print(friends_list)

['Eric', 'John', 'Michael', 'Terry', 'Graham', 'TerryG', 'Brian']

In [17]:
print('replace', csv.replace(';',',').replace(':',',').split(','))

replace ['Eric', 'John', 'Michael', 'Terry', 'Graham', 'TerryG', 'Brian']